<div class="markdown-panel" [id]="id">
  <div class="col-md-2" id="viewer-left-panel">
    <div class="sticky-anchor"></div>
    <div class="sticky-panel">

      <nav id="sidebar" [hidden]="!config.chapters">
        <div class="sidebar-header">
          <h3 (click)="goToTopPage()">Content</h3>
        </div>
        <ul class="list-group components">
          <a 
            *ngFor="let chapter of config.chapters" 
            [ngClass]="{ active: selectedChapter === chapter }" 
            (click)="scrollToId(chapter); selectedChapter = chapter"
            class="list-group-item">{{chapter.split('-').join(' ')}}</a>
        </ul>
      </nav>
    
    </div>
  </div>
  <div class="col-md-9" id="viewer-center-panel">    
    
    <h1>{{config.title}}</h1>

    <!-- displayed when chapters are present in config -->
    <div *ngIf="selectedChapter; else singleFile">
      <div *ngFor="let chapter of config.chapters">
        <h2 id="{{chapter}}">{{generateChapterTitle(chapter)}}</h2>
        <hr>
        <markdown path="{{generateChapterPath(chapter)}}"></markdown>
      </div>
    </div>
    <!-- displayed when config declares no chapters -->
    <ng-template #singleFile>
      <markdown path="{{docPath + '.md'}}"></markdown>
    </ng-template>
    <!-- this is just to leave some space at the bottom -->
    <div class="gap"></div>

  </div>

  <div class="col-md-1" id="viewer-right-panel">
      <!-- empty -->
  </div>

  
  
</div>

