$jumboTextColor: #fff;
$jumboTextShadowColor: #000;
$containerHeight: calc(100vh - 101px);

.about {
    
    background-color: black;
    padding: 15px;
    border: 2px solid white;
    border-radius: 5px;
}

.section-title {
    // position: fixed;
    height: 50px;
    background-color:#222;
    color: darken(white, 15%);
    border-bottom: 1px solid white;
    width: 100%;
    text-align:center;

    .section-text {
        text-align:center;
        display: inline-block;
        padding-top: 3px;
        font-size: 2em;
        font-weight: bold;
    }
}

.home-footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    background-color:#222;
    color: darken(white, 15%);
    border-top: 1px solid white;
    width: 100%;

    .text-left, .text-center {
        float: left;
    }

    * {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.link-without-underline {
    text-decoration: none;

    &:hover {
        color: white;
    }
}

.jumbotron {

    position: relative;
    padding: 0px;
    margin-bottom: 0px;
    // border-bottom: 1px solid white;

    h1, h2, p {
        margin-top:0;
        color: $jumboTextColor;
    }

    .git {
        margin: 10px;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        height: $containerHeight;
        width: 100%;
    }

    .container {
        text-align: center;
        padding-top: 10%;
        // total height, minus the navbar height (50px) minus the footer, minus a pixel for the border.
        height: $containerHeight;
    }

    .img {
        max-height: $containerHeight;
        margin-bottom: 0px;
        opacity: 1;
        color: #fff;
        background: url("../../assets/pexels-photo-248515.png") top center no-repeat;
        width: 100%;
        background-size: cover;
        // overflow: hidden;
        // position: absolute;
        top:0;
        left:0;
        // z-index:1;
    }

    .content {
        
        ul {
            background-color: black;
            border: 1px solid white;
            border-radius: 3px;
            margin: 5px;
            padding: 3px;
        }
    }
}

.site-content {

    border-top: 1px solid white;
    margin-top: 1px;

    .center {
        text-align: center;
    }

    .content-block {
        color: #fff;
        text-align: center;
        padding-top: 10px;
        
        ul {
            background-color: black;
            border: 1px solid white;
            border-radius: 3px;
            margin: 5px;
            padding: 3px;
        }
    }
}


// hide content on small screens
@media screen and (max-width: 1000px) {

    .content-parent {

        display: none;
    }

    .about {
        display: none;
    }
}

// for now, just ignore 'about' content
// .about {
//     display: none;
// }

@media screen and (max-height: 700px) {

    .about {
        display: none;
    }
}

