<div class="jumbotron">
  <div class="img">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <img alt="Jander.es" src="assets/jander.es.png">
            <br><br>
            <h2>Code source references</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
              <!-- <app-test></app-test> -->
              <h4 class="text-center about">This site contains reference info on multiple technologies, primarily intended as a personal reference site, 
                but hopefully useful for anyone!. This page is still a work in progress while I refactor my GitLab repositories and move them
                back to GitHub.<br> To check my current GitHub repositories click on the button below.
              </h4>
              <a class="btn btn-primary git" href="https://github.com/apycazo?tab=repositories" target="_blank"><i class="fa fa-lg fa-github" aria-hidden="true"></i> APycazo at GitHub</a>
          </div>
        </div>
        <div class="row content-parent">
          <div *ngFor="let group of content" class="col-md-4 content">
            
            <ul class="list-unstyled">
                <h4>{{group.text}}</h4>
                <li *ngFor="let entry of group.pages">
                  <a routerLink="../doc/{{group.prefix}}{{entry.ref}}">{{entry.title}}</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-footer">
  <div>
    <h5 class="text-left">Andres Picazo - 2018</h5>
    <h5 class="text-center"><i class="fa fa-lg fa-bell" aria-hidden="true"></i> This page is still a work in-progress!</h5>
    <h5 class="text-right">All content available under Apache 2.0 license <a class="btn btn-primary btn-sm" href="https://github.com/apycazo/jander-web" target="_blank">here</a></h5>
  </div>
</div>
