$jumboTextColor: #fff;
$jumboTextShadowColor: #000;

.about {
    
    background-color: black;
    padding: 15px;
    border: 2px solid white;
    border-radius: 5px;
}

.home-footer {
    position:absolute;
    bottom:0;
    background-color:#222;
    color: darken(white, 15%);
    border-top: 1px solid white;
    width: 100%;

    .text-left, .text-center {
        float: left;
    }

    * {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.jumbotron {

    position:relative;
    padding: 0px;
    margin-bottom: 0px;
    // border-bottom: 1px solid white;

    h1, h2, p {
        margin-top:0;
        color: $jumboTextColor;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
    }

    .container {
        text-align: center;
        padding-top: 5%;
        // total height, minus the navbar height (50px).
        height: calc(100vh - 50px);
    }

    .img {
        margin-bottom: 0px;
        opacity: 1;
        color: #fff;
        background: url("../../assets/pexels-photo-248515.png") top center no-repeat;
        width: 100%;
        background-size: cover;
        overflow: hidden;
        // position: absolute;
        top:0;
        left:0;
        z-index:1;
    }
}